<p>Dear Admin,</p>

<p>
  <strong><%= @user.name %></strong> has sent you an inquiry. Here is details:
</p>
<p><strong>Name :</strong> <%= @user.name %></p>
<p><strong>Email :</strong> <%= @user.email %></p>
<p><strong>Phone :</strong> <%= @user.phone %></p>
<p><strong>Message :</strong> <%= @user.message %></p>