<div class="container-area-2">
        <div class="wrapper">
          <div class="container-row-2">
            <h2>Featured Properties</h2>
            <ul>
              <li>
                <%=link_to image_tag('/assets/box-1.jpg'), '#' %>
                <h3><a href="#">142 W 8th Street #1, Oswego</a></h3>
              </li>
              <li>
                <%=link_to image_tag('/assets/box-2.jpg'), '#' %>
                <h3><a href="#">144 W 8th Street #1, Oswego</a></h3>
              </li>
              <li>
                <%=link_to image_tag('/assets/box-3.jpg'), '#' %>
                <h3><a href="#">130 West 8th Street, Oswego</a></h3>
              </li>
              <li>
                <%=link_to image_tag('/assets/box-4.jpg'), '#' %>
                <h3><a href="#">108 W Bridge Street #1, Oswego</a></h3>
              </li>
              <li>
                <%=link_to image_tag('/assets/box-5.jpg'), '#' %>
                <h3><a href="#">39 John Street, Oswego</a></h3>
              </li>
            </ul>
          </div>
        </div>
      </div>
      